@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --light:#FFF9FB;
  --gray:#D3D4D9;
  --dark:#252627;
  --hilight-red:#BB0A21;
  --hilight-blue:#4B88A2;
}

body{
  background-color: var(--light);
}

.MainFlex {
  padding-top: 2vh;
  margin-left:25%;
  margin-right:25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--light);
}

#TopNavBar{
  display:flex;
  flex-direction: row;
  height: 10vh;
  position:relative;
  background-color:var(--gray);
  transition-duration: 300ms;
}

.TopNavBarButton{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  width:25%;
  background-color: var(--gray);
  border:none;
  height:10vh;
  cursor:pointer;
}

.link{
  color:var(--dark)
  
}